@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mitr:wght@300;500;700&family=Sarabun:wght@200;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
}


/* red-plate-start */
.title-plate-container,
.detail-title-plate-container {
    width: 100%;
    max-width: 1730px;
    margin: 0 auto;
}
.title-plate-line {
    width: 100%;
    height: 4px;
    border-radius: 10px;
    margin: 0 auto;
    /* position: relative; */
    background: rgb(236, 31, 37);
    background: linear-gradient(
        90deg,
        rgba(236, 31, 37, 1) 47%,
        rgba(194, 25, 141, 1) 50%,
        rgba(0, 173, 239, 1) 54%
    );
}

.plate-line {
    width: 100%;
    height: 4px;
    border-radius: 10px;
    margin: 0 auto;
    /* position: relative; */
    background: rgb(236, 31, 37);
    background: linear-gradient(
        90deg,
        rgba(236, 31, 37, 1) 20%,
        rgba(194, 25, 141, 1) 30%,
        rgba(0, 173, 239, 1) 80%
    );
}
.plate-group,
.detail-plate-group {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    /* margin: 0; */
    /* right: 80px; */
}
.plate-box-s,
.detail-plate-box-s {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 14px;
    left: 8px;
}

.plate-box-s .plate-circleS,
.detail-plate-box-s .detail-plate-circleS {
    width: 20px;
    height: 25px;
    position: relative;
    left: 12px;
    top: 2px;
    background: rgb(255 255 255);
    border-radius: 50%;
    z-index: 0;
}
.plate-box-s .title-plate-textboxS {
    width: 0;
    height: 0;
    border-top: 20px solid rgba(236, 31, 37, 1);
    border-left: 20px solid transparent;
}

.title-plate-textboxC {
    width: 40%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    /* left: 16px; */
    bottom: 4px;
    z-index: 10;
    background-image: linear-gradient(
        to right,
        rgba(236, 31, 37, 1),
        rgba(194, 25, 141, 1),
        rgba(0, 173, 239, 1)
    );
}

.title-plate-textboxC .plate-text,
.detail-title-plate-textboxC .detail-plate-text {
    /* font-size: 1.3rem; */
    color: #ffff;
    text-align: center;
}
.plate-box-e,
.detail-plate-box-e {
    width: 30%;
    display: flex;
    position: relative;
    bottom: 16px;
    right: 5px;
}
.plate-box-e .title-plate-textboxE {
    width: 0;
    height: 0;
    border-top: 20px solid rgba(0, 173, 239, 1);
    border-right: 20px solid transparent;
}

.plate-box-e .plate-circleE {
    width: 20px;
    height: 25px;
    background: rgb(255 253 253);
    border-radius: 50%;
    z-index: 0;
    position: relative;
    top: 4px;
    right: 15px;
}

/* @media screen and (max-width: 1730px) {
    .title-plate-container {
        width: 100%;
    }
} */

/* @media screen and (max-width: 1475px) {
    .title-plate-textboxC .plate-text {
        font-size: 1rem;
    }
} */
@media screen and (max-width: 1000px) {
    .title-plate-textboxC {
        width: 80%;
    }
}
@media screen and (max-width: 759px) {
    .title-plate-textboxC {
        width: 80%;
    }
    /* .title-plate-textboxC .plate-text {
        font-size: 1rem;
    } */
}
@media screen and (max-width: 690px) {
    .title-plate-textboxC {
        width: 100%;
    }
    .title-plate-line {
        display: none;
    }
    .plate-box-s {
        display: none;
    }
    .plate-box-e {
        display: none;
    }
    .title-plate-textboxC {
        border-radius: 30px;
    }
    /* .title-plate-textboxC .plate-text {
        font-size: 1rem;
    } */
}
/* @media screen and (max-width: 390px) {
    .title-plate-textboxC .plate-text {
        font-size: 0.9rem;
    }
} */
/* red-plate-end */

/* blue-plate-start */
.blue-plate-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.blue-plate-line {
    width: 100%;
    height: 4px;

    margin: 0 auto;
    /* position: relative; */

    background: linear-gradient(
        90deg,
        rgba(86, 66, 205, 1) 40%,
        rgba(0, 188, 255, 1) 50%
    );
}
.blue-plate-group {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 990;
    bottom: 4px;
}
.blue-plate-box-s {
    width: 30%;
    height: 25px;
    position: relative;
}
.blue-plate-circleS {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fffefe;
    position: absolute;
    right: 0px;
    top: 4px;
    z-index: 2222;
}
.blue-plate-textboxS {
    width: 13px;
    height: 13px;
    background: rgb(86, 66, 205);
    position: absolute;
    right: 0;
    bottom: 8px;
}
.blue-plate-textboxC {
    width: 40%;
    height: 25px;
    background: rgb(86, 66, 205);
    background: linear-gradient(
        90deg,
        rgba(86, 66, 205, 1) 10%,
        rgba(0, 188, 255, 1) 90%
    );
    border-radius: 0px 0px 10px 10px;
}
.blue-plate-box-e {
    width: 30%;
    height: 25px;
    position: relative;
}
.blue-plate-circleE {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fffefe;
    position: absolute;
    left: 0px;
    top: 4px;
    z-index: 2222;
}
.blue-plate-textboxE {
    width: 13px;
    height: 13px;
    background: rgb(0, 188, 255, 1);
    position: absolute;
    left: 0;
    bottom: 8px;
}
/* blue-plate-end */

/* orange-plate-start */
.orange-plate-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.orange-plate-line {
    width: 100%;
    height: 4px;

    margin: 0 auto;
    /* position: relative; */

    background: linear-gradient(
        90deg,
        #ed4312 40%,
        #f6911d 50%
    );

}
.orange-plate-group {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 990;
    bottom: 4px;
}
.orange-plate-box-s {
    width: 30%;
    height: 24px;
    position: relative;
}
.orange-plate-circleS {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ffffff;
    position: absolute;
    right: 0px;
    top: 2px;
    z-index: 2222;
}
.orange-plate-textboxS {
    width: 13px;
    height: 15px;
    background: #ed4312;
    position: absolute;
    right:-1px;
    bottom:10px;
}
.orange-plate-textboxC {
    width: 23%;
    height: 28px;
    background: rgb(86, 66, 205);
    background: linear-gradient(90deg, #ed4312 10%, #f6911d 90%);
    border-radius: 0px 0px 10px 10px;
    top:0;
    position: relative;
}
.orange-plate-box-e {
    width: 30%;
    height: 25px;
    position: relative;
}
.orange-plate-circleE {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ffffff;
    position: absolute;
    left: 0px;
    top: 3px;
    z-index: 2222;
}
.orange-plate-textboxE {
    width: 13px;
    height: 13px;
    background: #f6911d;
    position: absolute;
    left:-1px;
    bottom:12px;
    top:2px;
}
/* orange-plate-end */

.box-package  .item:nth-child(odd) {
    background-color: #FFF;
}

.box-package  .item:nth-child(even) {
    background-color: #F3F3F3;
}


  .active{
	opacity: 1;
}

ol {
    list-style-type: decimal; /* ตั้งค่าลำดับให้แสดงเป็นเลขทศนิยม */
}
/* width */
::-webkit-scrollbar {
    width: 1px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(207, 207, 207); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #9b9b9b; 
  }